<h1>Coupons for <%= current_user.merchant.name %></h1>

<% @coupons.each do |coupon| %>
<section id="coupon-<%= coupon.id %>">
<p>Coupon Name: <%=coupon.name%><br/>
<p>Coupon Code: <%=coupon.code%><br/>
<p>Percent Off: <%=(coupon.percent_off*100)%>%<br/>
<%= link_to 'Delete This Coupon', "/merchant/coupons/#{coupon.id}", method: :delete %>
</section>
<%end%>

<%= link_to 'Add New Coupon', "/merchant/coupons/new"%>