<h1>Add New Coupon for Your Shop </h1>

<center>
  <%= form_tag "/merchant/coupons", method: :post do %>
    <%= label_tag :name %>
    <%= text_field_tag :name, @coupon.name%>

    <%= label_tag :code %>
    <%= text_field_tag :code, @coupon.code %>

    <%= label_tag "Percent Off (ex: 10% off should be entered as 0.10)" %>
    <%= text_field_tag :percent_off, @coupon.percent_off %>

    <%= submit_tag 'Create Coupon' %>
  <% end %>
</center>
