<h1>Cart</h1>

<% if !@items.empty? %>
<center>
<table class = "cart-items">
  <tr>
    <th>Item</th>
    <th>Sold By</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
    <th>Discount Amount</th>
    <th>Discounted Item Total</th>
  </tr>
  <% @items.each do |item,quantity| %>
    <tr id= "cart-item-<%=item.id%>">
      <td>
        <p align = "center">
          <span>
            <img align = "center" id="cart-image" src= <%= item.image %>>
            <%=link_to item.name, "/items/#{item.id}" %>
          </span>
        </p>
      </td>
      <td>
        <p align = "center">
          <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}"%>
        </p>
      </td>
      <td>
        <p><%=number_to_currency(item.price)%></p>
      </td>
      <td>
        <center>
          <p><%=quantity%></p>
          <p><%= button_to "+", "cart/#{item.id}?increment_decrement=Increase", method: :patch %></p>
          <p><%= button_to "-", "cart/#{item.id}?increment_decrement=Decrease", method: :patch %></p>
          <p><%= link_to "Remove", "/cart/#{item.id}", method: :delete %></p>
        </center>
        </td>
      <td>
        <p><%= number_to_currency(cart.subtotal(item)) %></p>
    </td>
    <% if current_coupon.nil? or !item.eligible_for_discount?(current_coupon) %>
    <td>
    No Discount Applied
    </td>
    <td>
    No Discount Applied
    </td>
    <% else item.eligible_for_discount?(current_coupon)%>
    <td> <%= number_to_currency(quantity * item.total_discount_applied(current_coupon)) %> DISCOUNT</td>
    <td> <%=  number_to_currency(cart.subtotal(item) - (quantity * item.total_discount_applied(current_coupon))) %></td>
    <% end %>
    </tr>
    <% end %>
</table>


  <h3>Total: <%= number_to_currency(cart.total) %></h3>
    <% if current_coupon %>
      <h3>Discounted Total: <%= number_to_currency(cart.find_discounted_total(current_coupon)) %></h3>
    <% end %>
  <p><%= link_to "Empty Cart", "/cart", method: :delete %></p>

  <section id="checkout">
    <% if current_user %>
      <h3>Add Discount Code Here: </h3>
        <%= form_tag coupon_path, method: :patch do %>
        <%= label_tag 'Coupon Code' %>
        <%= text_field_tag :code %><br/><br/>
        <%= submit_tag "Apply Coupon" %>
        <% end %><br/>
      <p><%= link_to "Checkout", "/orders/new", method: :get %></p>
    <% else %>
      <p>You must <%= link_to 'register', '/register', method: :get %> or <%= link_to 'login', '/login', method: :get %> to finish the checkout process.</p>
    <% end %>
  </section>
<% else %>
  <h3 align= "center">Cart is currently empty</h3>
<% end %>
<table>
</center>
